<%- include("partials/header.ejs")%>
        <h1> Welcome to Earth </h1>
        <img src="/img/earth.jpg" alt="Earth">
        <p> Earth is great </p><br>
        <p>Earth is our home planet. Scientists believe Earth and its moon formed around the same time as the rest of the solar system. They think that was about 4.5 billion years ago. Earth is the fifth-largest planet in the solar system. Its diameter is about 8,000 miles. And Earth is the third-closest planet to the sun. Its average distance from the sun is about 93 million miles. Only Mercury and Venus are closer.
Earth has been called the "Goldilocks planet." In the story of "Goldilocks and the Three Bears," a little girl named Goldilocks liked everything just right. Her porridge couldn't be too hot or too cold. And her bed couldn't be too hard or too soft. On Earth, everything is just right for life to exist. It's warm, but not too warm. And it has water, but not too much water.
Earth is the only planet known to have large amounts of liquid water. Liquid water is essential for life. Earth is the only planet where life is known to exist.
</p>
<%- include("partials/footer.ejs")%>