<%- include("partials/header.ejs")%>
        <h1> Welcome to Venus </h1>
        <img src="/img/venus.png" alt="Venus">
        <p> Venus is great </p>
        <p>
        Venus is the second planet from the Sun, and is Earth's closest neighbor in the solar system. Venus is the brightest object in the sky after the Sun and the Moon, and sometimes looks like a bright star in the morning or evening sky. The planet is a little smaller than Earth, and is similar to Earth inside. We can't see the surface of Venus from Earth, because it is covered with thick clouds. However, space missions to Venus have shown us that its surface is covered with craters, volcanoes, mountains, and big lava plains. The surface of Venus is not where you'd like to be, with temperatures that can melt lead, an atmosphere so thick it would crush you, and clouds of sulfuric acid that smell like rotten eggs to top it off
        </p>
<%- include("partials/footer.ejs")%>